{% extends "layout.html" %} {% block page_title %} Postage address incorrect {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}


    <div class="grid-row" id="pr3">
        <div class="column-two-thirds">

            <h1 class="heading-large margin-bottom-1">Postage address incorrect</h1>

            <p>As the postage address is incorrect you will not be able to continue with this application online.</p>
            <p>You must update your V5C registration certificate (logbook) if there are any mistakes on it, or if you make a number of changes to you vehicle.</p>
            <p>For more information on how to update your details, visit the <a href="#">'change vehicle details on a V5C registration certificate (logbook)'.</a></p>



            <br> <a class="button" href="https://www.gov.uk/" role="button">Return to GOV.UK</a>
        </div>
    </div>




    </form>


    </div>

    </div>

</main>

{% endblock %}
